<table class='merchants-table'>

  <tbody>
    <% for merchant in @merchants %>
      <tr>
        <td><%= merchant.name %></td>
        <td><a href='/merchants/<%= merchant.id %>/edit'>Edit</a></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td><div class='add-button'><a href='/merchants/new'>+</a></div></td>
      <td></td>
    </tr>
  </tfoot>

</table>