<div class='form'>
  <h2>New Merchant</h2>

  <form action='/merchants' method='POST'>

    <input id='merchant-name' type='text' name='name' placeholder='Name: e.g. Codeclan' required />

    <input type='submit' value='Submit' />

  </form>
</div>