<h2>New Merchant</h2>

<form action='/merchants' method='POST'>
  <label for='merchant-name'>Name:</label>
  <input id='merchant-name' type='text' name='name' placeholder='e.g. CodeClan' />

  <input type='submit' value='Submit' />
</form>