<table class='tags-table'>

  <tbody>
    <% for tag in @tags %>
      <tr>
        <td><%= tag.name %></td>
        <td><a href='/tags/<%= tag.id %>/edit'>Edit</a></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td><div class='add-button'><a href='/tags/new'>+</a></div></td>
      <td></td>
    </tr>
  </tfoot>

</table>