<h2>New Tag</h2>

<form action='/tags' method='POST'>
  <label for='tag-name'>Name:</label>
  <input id='tag-name' type='text' name='name' placeholder='e.g. Education' />

  <input type='submit' value='Submit' />
</form>