<div class='form'>
  <h2>New Tag</h2>

  <form action='/tags' method='POST'>

    <input id='tag-name' type='text' name='name' placeholder='Name: e.g. Education' required />

    <input type='submit' value='Submit' />

  </form>
</div>