html {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

body {
  background: hsla(0, 0%, 12.5%, 1);
  background-image: radial-gradient(hsla(220, 15.5%, 19%, 1.00) 1.5px, transparent 0);
  background-size: 20px 20px;
  font-family: Rubik, sans-serif;
  color: hsla(218, 15%, 72%, 1.00);
}

header {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.header-inner-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

h1 {
  font-weight: 700;
  font-size: 2em;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 50vw;
  display: flex;
  justify-content: space-between;
}

.nav-list li {
  display: inline;
  font-weight: 300;
  min-width: 8em;
  min-height: 2em;
  /* background-color: hsla(219, 16%, 32%, 1); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list li:hover {
  background-color: hsla(219, 16%, 32%, 1);
  border-radius: 5px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1);
}

.nav-list a {
  text-decoration: none;
  color: hsla(218, 15%, 72%, 1.00);
}

/* MAIN */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}


main li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ACTIONS STYLE Edit & Delete */

main .actions {
  text-decoration: none;
  color: hsla(219, 28%, 88%, 0.5);
  font-size: 0.75em;
  font-weight: 300;
  line-height: 0;
  cursor: pointer;
}

main .actions:hover {
  text-decoration: underline;
}

