table {
  border-collapse: collapse;
  min-width: 80vw;
  max-height: 70vh;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1);
  margin: 0 auto 5%;
}

tbody {
  overflow: scroll;
}

tbody tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

tbody tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

td {
  padding: 10px 30px;
}

tbody tr {
  border-bottom: 1px solid hsla(0, 56%, 2%, 1);
  line-height: 2.5em;
}

tbody tr:nth-of-type(odd) {
  background-color: hsla(223, 17%, 25%, 1);;
}

tbody tr:nth-of-type(even) {
  background-color: hsla(220, 17%, 28%, 1);
}

tfoot {
  background-color: hsla(220, 15%, 19%, 1);
}

tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

tfoot tr {
  line-height: 2.5em;
  font-weight: 700;
}

td .col3 {
  align-items: right;
}

tfoot tr td:first-child .filter-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* ADD BUTTONS [ + ] */
.add-button {
  background-color: hsla(213, 31%, 52%, 1);
  width: 1.5em;
  height: 1em; 
  border-radius: 5px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: hsla(219, 28%, 88%, 1);
  font-size: 2em;
  font-weight: 500;
  line-height: 0;
}

.add-button:hover {
  background-color: hsla(210, 34%, 63%, 1);
}

.foot-link {
  background-color: hsla(213, 31%, 52%, 1);
}

.foot-link td {
  height: 2em;
}

.foot-link a {
  text-decoration: none;
  color: hsla(219, 28%, 88%, 1);
  font-size: 2em;
  font-weight: 500;
}

.foot-link:hover {
  background-color: hsla(210, 34%, 63%, 1);
}