<table class='transactions-table'>

  <tbody>
    <% for transaction in @transactions %>
      <tr>
        <td class='col1'><%= transaction.tag.name %></td>
        <td class='col2'><%= transaction.merchant.name %></td>
        <td class='col3'>- £<%= sprintf('%.2f', transaction.amount) %></td>
      </tr>
    <% end %>
  </tbody>
  
  <tfoot>
    <tr>
      <td><a class='new-transaction' href='/transactions/new'>+</a></td>
      <td>TOTAL</td>
      <td> - £<%= sprintf('%.2f', @total) %></td>
    </tr>
  </tfoot>

</table>

