<table>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.tag.name %></td>
    <td><%= transaction.merchant.name %></td>
    <td>- £<%= sprintf('%.2f', transaction.amount) %></td>
  </tr>
  <% end %>
</table>

<a class='new-transaction' href='/transactions/new'>+</a>