<div class='form'>
  <h2>New Transaction</h2>

  <form action='/transactions' method='POST'>

    <select name='tag_id' required>
      <option selected disabled hidden>Select a Tag</option>
      <% for tag in @tags %>
      <option value='<%= tag.id %>'><%= tag.name %></option>
      <% end %>
    </select>

    <select name='merchant_id' required>
      <option selected disabled hidden>Select a Merchant</option>
      <% for merchant in @merchants %>
      <option value='<%= merchant.id %>'><%= merchant.name %></option>
      <% end %>
    </select>

    <input id='amount' type='number' name='amount' placeholder='£0.00' required />

    <input type='submit' value='Submit' />

  </form>
</div>