<div class='form'>
  <h2>New Budget</h2>

  <form action='/budgets' method='POST'>
    <div class='inner-form'>
    <select name='tag_id' required>
      <option value='' hidden>Select a Tag</option>
      <% for tag in @tags %>
      <option value='<%= tag.id %>'><%= tag.name %></option>
      <% end %>
    </select>

    <input id='amount' type='number' step='0.01' name='amount' placeholder='£0.00' required />

    <input type='submit' value='Submit' />
    </div>
  </form>
</div>